.box {
  display: flex;
  justify-content: center;
  width: 100wh;
	height: 100vh;
  color: #fff;
}

.traffic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33vh;
  height: 66vh;
  margin-top: 16.5vh;
  background-color: black;
}

.light {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  background-color:white;
  margin: 0 auto;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
