.box {
  display: flex;
  justify-content: center;
  width: 100wh;
	height: 100vh;
  color: #fff;
  /* Make these background colors random after */
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}

.light {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33vh;
  height: 66vh;
  margin-top: 16.5vh;
  background-color: black;
}

.red {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
}

 .yellow {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  background-color:yellow;
  margin: 0 auto;
}

.green {
  margin-top: 46vh;
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  background-color:green;
  margin: 0 auto;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
